<h3> Hello <%= @user.email %>!</h3><br>
<a href="<%= confirmation_url(@user.confirmation_token) %>">Click here to confirm your account!</a><br>
<p>If you have not requested confirmation, please ignore this email!</p>
