<h3><%= t('user_mailer.hello') %> <%= @user.email %>!</h3><br>
<%= link_to t('user_mailer.reset_password_instructions.reset_link'),
            edit_password_reset_url(@user.reset_password_token) %><br>
<p><%=t('user_mailer.not_requested')%></p>
