<h3> Hello <%= @user.email %>!</h3><br>
<a href="<%= edit_password_reset_url(@user.reset_password_token) %>">Click here to reset your password!</a><br>
<p>If you have not requested changing your password, please ignore this email!</p>
