$margin-width: 10%;
$board-width: 100%;

@mixin difficulty-level($rows-count) {
  $tile-width: (($board-width - $margin-width) / $rows-count);
  width: $tile-width;
  padding-bottom: $tile-width;
  margin: ($margin-width / ($rows-count * 2));
}

.tile {
  background: #F7F7F7;
  color: $dark;
  border: solid;
  font-size: 4rem;
  float: left;
  position: relative;
  overflow: hidden;
  &.easy {
    @include difficulty-level(3)
  }
  &.medium {
    @include difficulty-level(6)
  }
  &.hard {
    @include difficulty-level(9)
  }
}

#board {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.game-grid {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

body {
  padding-top: 60px;
}
