<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'mailer' %>
  </head>

  <body>
  <div class="container-fluid" id="topbar">
    <%= link_to 'Slayde!', root_url %>
  </div>
  <div id="yield">
    <%= yield %>
  </div>
  </body>
</html>
